body {
	text-align: center;
	background-color: #efefef;
	margin: 0;
}

h1 {
	margin: 0;
	padding: 25px;
	text-align: center;
	background-color: #4c44a7;
	color: #fff;
}

p {
	margin-bottom: 0;
}

#root {
	width: 700px;
	margin: 0 auto;
	text-align: left;
	background-color: #fff;
	color: #000;
}

form {
	padding: 0 25px 1em;
}

.formRow label {
	display: block;
	float: left;
	width: 160px;
}

.formRow .control {
	width: 400px;
}

.tabHidden {
	display: none;
}

/* tabHidden may have more code later on */
.hidden {
	display: none;
}

.error {
	color: white;
	background-color: red;
	font-weight: bold;
}
