body {
	text-align: center;
}

#root {
	width: 600px;
	margin: auto;
	text-align: left;
}

.formRow label {
	display: block;
	float: left;
	width: 160px;
}

.formRow .control {
	width: 400px;
}