body {
	text-align: center;
}

#root {
	width: 600px;
	margin: auto;
	text-align: left;
}

.formRow label {
	display: block;
	float: left;
	width: 160px;
}

.formRow .control {
	width: 400px;
}

.tabHidden {
	display: none;
}

/* tabHidden may have more code later on */
.hidden {
	display: none;
}

.error {
	color: white;
	background-color: red;
	font-weight: bold;
}
